@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --heading-primary: 3.5rem;
  --heading-secondary: 2.3rem;
  --heading-tertiary: 1.8rem;
  --paragraph: 1.6rem;
  --font-family-main: 'Poppins', sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

[data-theme="default"] {
  --primary-color: #82d8d8;
  --primary-color-light: #b1e7e7;
  --secondary-color: #524763;
  --secondary-color-light: #625577;
  --secondary-color-lightest: #c1bacd;
  --DarkMOdePurple: #F638DC;
  --DarkModePurplelight: #382039;
  --DarModeBodyColor: #200F21;
  --background-color: #fff3da;
  --text-white: #ffffff;
  --text-between: #ffeec9;
  --text-dark: #333333;
  --transparent-primary: rgba(193, 186, 205, 0.5);

}

[data-theme="dark"] {
  --primary-color: #f638dc;
  --primary-color-light: #cdffef;
  --secondary-color: #200f21;
  --secondary-color-light: #382039;
  --secondary-color-lightest: #58325a;
  --secondary-color-opacity: rgba(88, 50, 90, 0.5);
  --transparent-primary: rgba(71, 41, 73, 0.821);
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-main);
  font-size: var(--paragraph);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--heading-primary);
}

h2 {
  font-size: var(--heading-secondary);
}

h3 {
  font-size: var(--heading-tertiary);
}

p {
  font-size: var(--paragraph);
}