.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribute items evenly along the main axis */
    /* Ensure the container takes the full height of the viewport */
}

.movie-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  transform: translateY(570px);
  margin-left: 750px
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  transform: translateY(570px);
  background-color: #b12222;
}
.home {
  background-color: #b12222; /* Replace with your desired background color */
}
